.inputContainer {
  display: flex;
  background: linear-gradient(173deg, #f5f7fa 0%, #e4e7ec 100%);
  border-radius: 0.6rem;
  box-shadow:
    3px 3px 8px #c9ced6,
    -3px -3px 12px #ffffff;
  padding: 0.18rem;
}

.input {
  border-radius: 0.45rem;
  background: #f5f7fa;
  box-shadow:
    inset 1.5px 1.5px 4px #c9ced6,
    inset -1.5px -1.5px 4px #ffffff;
  width: 100%;
  padding: 0.4rem 0.7rem;
  font-size: 0.75rem;
  line-height: 1;
  border: 1px solid transparent;
  color: #111827;
}

.input::placeholder {
  color: #6b7280;
}

.input:focus {
  border: 1px solid #22c55e;
  outline: none;
  box-shadow:
    inset 0 0 4px rgba(34,197,94,.25),
    0 0 6px rgba(34,197,94,.2);
}




:global(.dark) .inputContainer {
  background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
  box-shadow:
    3px 3px 8px #0e1013,
    -3px -3px 12px #383e4b;
}

:global(.dark) .input {
  background: #23272f;
  box-shadow:
    inset 1.5px 1.5px 4px #0e1013,
    inset -1.5px -1.5px 4px #383e4b;
  color: white;
}

:global(.dark) .input::placeholder {
  color: #9ca3af;
}

:global(.dark) .input:focus {
  border: 1px solid #22c55e;
  box-shadow:
    inset 0 0 4px rgba(34,197,94,.35),
    0 0 6px rgba(34,197,94,.25);
}
